.detailContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.detailCard {
    background-color: blueviolet;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    width: 50%;
    height: auto;

}

.detailCard a {
    color: white;
    font-weight: 400;
    background-color: rgb(148, 33, 255);
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
}

.detailCard a:hover {
    background-color: rgb(58, 0, 113);
    transition: 200ms ease-in-out;
}

h1:nth-of-type(1) {
    margin-bottom: 1rem;
}

.detailCard h3,
.detailCard h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.detailCard span:nth-of-type(1) {
    font-weight: 400;
    font-size: 1rem;
}