* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}