.wrapper {
    display: flex;
}

.home>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.home>ul>li {
    margin-top: 1rem;
    width: 33%;
}

.imageBox {
    width: auto;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.imageBox>img {
    width: 100%;
    height: 100%;
}